.headerContainer
    .upperbar(style ="height:60px;background-color:white;")  
      .profileContainer
        #avatar
        - if (req.isAuthenticated() && req.user)
            - if (req.user.avator == 0)
              img(width='36px', height='35px', src='../img/default.png')
            - else
              - var imgurl =  '../img/avators/' + req.user.avator + '.png'
              img(width='36px', height='35px', src=imgurl)
              button.btn.btn-default.dropdown-toggle#dropdownMenu1(data-toggle = "dropdown")
                span.caret Action
              ul.dropdown-menu(role = "menu")
                - each m in req.user.messages
                  li(role = "presentation")
                    a.message( "data-target" = "#ViewMessageModal", "data-toggle" = "modal", role = "menuitem", tabindex = "-1")= m.message
                    input.hide#messagecomments(type = "text",value = m.comments, name = "comments")
            - var name = req.user.name
            #profileName(style = "padding:0px")= 'Hello '+name 
        - else
          img(width='36px', height='35px', src='../img/default.png')
          #profileName(style = "padding:0px") Hello Guest
      .headerIcons
        - if (req.isAuthenticated())
          #headerMessage
            img(src='../img/message.png', "data-target" = "#PrivateMessageModal", "data-toggle" = "modal")		
          #headerPen
            a(href = "/articles/new")
              img(src='../img/pen.png')		
      .buzzbox
        span#logo 
          a(href = "/") Buzzbox
        span#theme Share Secrets
      <br/>
      <br/>
    - if (req.isAuthenticated())
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') BuxxBox
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
            
               li.active
                a(href='/') Home
               li
                a(href="/users/"+req.user.id, title="Profile") Profile
               li
                a(href="/logout", title="logout") Logout