@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

html * {margin: 0px; padding: 0px;}

/*body style. % are given to its children with browser window 1300*647.*/
#buzzfeed {
background-color : #e5e5e5;
font-family : "roboto" ;

color : #d0d0d0;
}

/*header container */
.headerContainer {

width : 100%;
padding : 5px;
height: 8%; /*around 60px in 1300*647 browser window*/

font-family: 1em;
}

/*profile info container in header which is not given size.
it takes the size of according to its children*/ 
.profileContainer {
float :left;
}

/*confusion in giving % size to below ids. giving % to profileContainer doesn't
do anything as it is dependent on children. so tried % on avatar img , but relative to
what profileContainer or headerContainer? This confusion is also with padding %, should 
it be relative to avatar, profileContainer or headerContainer*/
#avatar{
float:left;
padding:10px 0px;
}

/*similar confusion for this id. font % and padding % relative to what*/
#profileName{
float:left;
padding:15px 5px;
}

/*its size also depends on id logo and theme. also horizontal auto margin removed
headerIcon class from header but keeping it below headerIcon class solves the problem*/
.buzzbox {
font-family:'roboto';
margin: 0px auto;
text-align:center;
padding-bottom:5px;
max-width:150px;
}

/*how to make font responsive (in %) ?)*/
#logo{
font-size:1.8em;
}

#theme{
display :block;
font-style: italic;
font-size:70%;
}

/*padding % to be done*/
.headerIcons {
float: right;
padding-top:5px;
padding-right:10px;
}

#headerMessage{
float:left;
}

#headerPen{
float:left;
}

/*dont know why these properties not working on image after introducing float*/
.headerIcons img {
opacity :0.3;
cursor: pointer;
}

.headerIcons img:hover{
opacity :0.6;
}

/*height % of children are working after giving it 100%, otherwise not*/ 
.container
{
position:relative;
height: 100%;
}

/*to cover commentContainer absolute position is introduced*/
.postContainer {
position:absolute;
margin-top:7.496136012364761%;/*check the top margin for centering. this may be wrong.
				in different browsers different % is working fine for vertical centering*/
left: 34.61538461538461%;
width: 30.76923076923077%;
height: 77.27975270479135%;
background-color: #fff;
z-index:1;
}

/*header of post*/
.postHeader {
float:top;
width : 100%;
height : 10%;
border-bottom : 1px solid;
box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

/*these 3 ids to be given % size and % padding. same confusion relative to what?*/
#postPic{
float: left;

}

#postLocation{
float: right;
padding:10px;
opacity:0.3;
cursor:pointer;
}

#postLocation:hover{
opacity:0.6;
}

.postName {
color :#939393;
padding-top: 20px;
}
/*3 post options. didnt include like counter*/
.postOptions {
float:bottom;
width : 100%;
height : 10%;
border-bottom : 1px solid;
border-top : 1px solid ;
box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.postOptions img {
opacity :0.3;
cursor: pointer;
}

.postOptions img:hover{
opacity :0.6;
}

/*these 3 images disappear when given % size. padding and margin
also to be given % size but with respect to postOption or the indivisual divisions?*/ 
.postMessage {
float:left;
margin-right:50px;
padding-left:10px;
}

.postLike{
width:50px;
margin-right:auto;
margin-left:auto;
}

.postComment{
float:right;
margin-left:50px;
padding-right:10px;
}

/*saw text-align : center of parent and inline-block to children makes children
at dead center of parent. but here only horizontal centering occurs. padding and line height
to be in % also. <important> what to do when text is large enough?*/
.postText {
overflow:hidden;
padding-top :50px;
color :#939393;
text-align: center;
width: 60%;
  height: 60%; 
}

.postText p{
display: inline-block;
line-height: 25px; 
}

/*comment section. just the padding % to be rectified.*/
.commentContainer {
position:absolute;
margin-top:7.496136012364761%;
left:34.61538461538461%;
width: 30.76923076923077%;
height: 77.27975270479135%;
background-color: #f5f5f5;
}

.comment{
width: 100%;
float:left;
}

.commentPic{
float:left;
padding:10px;
}

/*container for commentName and commentText*/
.commentTextBox {
float:left;
padding-top:10px;
}

.commentName {
float: top;
font-size:1em;
}

/*when comment size increases commentTextBox goes down left due to overflowing
comment container.but this problem also not solved by specifying width for
commentText*/ 
.commentText p{
float: bottom;
color:#939393;
font-size:80%;
}

.commentList {
width: 100%;
/*overflow-y: scroll;*//*customize scrollbar to look good*/
list-style-type:none;
}

/*input field. to implement increase in size to get for large input*/
#commentField{
padding-left:50px;
padding-top:10px;
}

input{
border: 1px solid #e5e5e5;
    padding: 5px;
}

/*transition effects*/
.pushleft {
left:19.076923076923077%;
}

.pushright {
left:49.84615384615385%;
}

.pushTransition {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.navigation
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.nav_item
{
	display:inline;
}

.loginbox
{
	background-color:white;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	box-shadow: 9px 9px 22px #333333; 
    -webkit-box-shadow: 9px 9px 22px #333333; 
    -moz-box-shadow: 9px 9px 22px #333333; 
	border-radius: 7px 0px 6px 0px;  
    -webkit-border-radius: 7px 0px 6px 0px; 
    -moz-border-radius: 7px 0px 6px 0px; 
	padding-left:20px;
	padding-bottom:50px;
	padding-top:20px;
	
}

.profilebox
{
	background-color:white;
	width:500px;
	margin-left:auto;
	margin-right:auto;

	box-shadow: 9px 9px 22px #333333; 
    -webkit-box-shadow: 9px 9px 22px #333333; 
    -moz-box-shadow: 9px 9px 22px #333333; 
	border-radius: 7px 0px 6px 0px;  
    -webkit-border-radius: 7px 0px 6px 0px; 
    -moz-border-radius: 7px 0px 6px 0px; 
	padding-left:20px;
	padding-bottom:50px;
	padding-top:20px;
	margin-bottom: 150px;
}

.box
{
	width: 1000px;
	height: 400px;
}

.postbox
{
	background-color:white;
	
	height:292px;
   

	box-shadow: 9px 9px 22px #333333; 
    -webkit-box-shadow: 9px 9px 22px #333333; 
    -moz-box-shadow: 9px 9px 22px #333333; 
	padding-top:20px;
	margin-bottom: 150px;
}

.boxbuttons
{
	opacity: .6;
	cursor: pointer;
}

.boxtext
{
	padding:50px;
	margin-left:33px;
	margin-right:33px;
	height:175px;
}

.commentbox
{
	background-color:white;
	


	box-shadow: 9px 9px 22px #333333; 
    -webkit-box-shadow: 9px 9px 22px #333333; 
    -moz-box-shadow: 9px 9px 22px #333333; 
	padding-top:20px;
	margin-bottom: 150px;
	padding-bottom: 5px;

}