extends ../layouts/default

block main
  h1= title
block content
  .container(style = "height : 500px;")
    .row
      .col-md-1(style = "height:200px; position: relative; top: 250px;")
        button#prevButton()
          img(src = "../img/left.png", style = "width:60px;")		
      - var postId = 0;  
      - if (articles.length)	
      - each article in articles	  
        .col-md-10(style = "height:500px;")	  
          .commentLeft.commentContainer.pushTransition(style = "overflow:auto;")
            ul.commentList
            - each comment in article.comments
                li
                  - if (comment && comment.user)
                    .comment
                      - var name = comment.user.name
                      - var avator = comment.user.avator  
                      .commentPic
                        img(src = "../img/avators/"+avator+".png",width = "36px",height = "34px", style= "margin:3px;")
                      .commentTextBox
                        .commentName
                          a(href="/users/"+comment.user._id)= name				  
                        .commentText
                          p= comment.body 
                          p.muted
                            form.form-inline(role="form", method="post", action="/articles/" + article._id + "/comments/" + comment._id, onsubmit="return confirm('Are you sure?')")
                              input(type='hidden', name='_csrf', value="#{csrf_token}")
                              span.muted= formatDate(comment.createdAt)
                              input(type="hidden", name="_method", value="DELETE")
                              button.btn.btn-danger.btn-link.error(type="submit") delete						
            .comment
              form#commentField(method="post", action="/articles/#{article._id}/comments", role="form")
                input(type='hidden', name='_csrf', value="#{csrf_token}")
                .form-group
                  .col-md-8
                    input.form-control(type='text', name="body", placeholder='Comment...', style = "margin-bottom:10px;")				
                    button.btn.btn-primary(type='submit') Add comment
          .postRight.postContainer.pushTransition
            .postHeader
              - var name = article.user.name
              - var avator = article.user.avator ? article.user.avator : 0		
              img#postPic(src = "../img/avators/"+avator+".png",width = "36px",height = "34px", style= "margin:3px;")
              img.boxbuttons#postLocation(src = "../img/location.png",width = "36px",height = "34px", , style = "float: right;",title = article.user.location)
              .postName
                a= name
            .postText
              p= article.body
            hr		  
            .postOptions
              .postMessage
                img.boxbuttons(src = "../img/message.png",width = "36px",height = "34px", "data-target" = "#MessageModal", "data-toggle" = "modal")
              .postComment
                img.boxbuttons(src = "../img/comment.png",width = "36px",height = "34px", style = "float: right;")
              .postLike
                img.boxbuttons(src = "../img/radioactive.png",width = "36px",height = "34px")
        div#MessageModal.modal.fade(aria-hidden = "true", aris-labelledby = "MessageModal",role = "dialog" ,tabindex = "-1")
          .modal-body
            div.panel.panel-primary(style = "width: 700px; margin: 100px auto 0px auto;")
              div.panel-heading 
                span Send Message
                a(data-dismiss = "modal",style = "float: right; color: beige;") CLOSE X
              div.panel-body(style = "background-color:rgb(108,112,129);") 			  
                .messageLeft
                  form(method="post", action="/privatemessage", role="form")
                    input(type='hidden', name='_csrf', value="#{csrf_token}")
                    input.hide(name = "recieverid", value = article.user._id)
                    input.hide(name = "senderid", value = req.user.id)
                    input.hide(name = "sendername", value = req.user.name)
                    textarea.form-control(rows = "1",name = "message" ,placeholder = "Enter message here...") 
                    button.btn.btn-primary(type = "submit", style = "margin-top: 10px; float: right;") Send     
      .col-md-1(style = "height:500px; position: relative; top: 250px;")
          button#nextButton(style = "float:right") 
            img(src = "../img/right.png", style = "width:60px;")
    div#PrivateMessageModal.modal.fade(aria-hidden = "true", aris-labelledby = "PrivateMessageModal",role = "dialog" ,tabindex = "-1")
      .modal-body
        div.panel.panel-primary(style = "width: 700px; margin: 100px auto 0px auto;")
          div.panel-heading 
            span Private Message
            a(data-dismiss = "modal",style = "float: right; color: beige;") CLOSE X
          div.panel-body(style = "background-color:rgb(108,112,129);")
            form.form-horizontal(method="post", action="/anonymousmessage", role="form")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input.hide(name = "senderid", value = req.user.id)
              .form-group  
                .col-sm-8
                  input(type = "email",name = "email", placeholder = "Enter Email")			
              .form-group
                .col-sm-8
                  textarea.form-control(rows = "3",name = "message" ,placeholder = "Enter message here...")
              .form-group
                .col-sm-8    
                  button.btn.btn-primary(type = "submit") Send 

    button.btn.btn-default.dropdown-toggle#dropdownMenu1(data-toggle = "dropdown")
                span.caret Action
              ul.dropdown-menu(role = "menu")
                - each m in req.user.messages
                  li(role = "presentation")
                    a.message(href = "/messageBox/"+m._id)= m.message
                    input.hide#messagecomments(type = "text",value = m.comments, name = "comments")
                  div#ViewMessageModal.modal.fade(aria-hidden = "true", aris-labelledby = "ViewMessageModal",role = "dialog" ,tabindex = "-1")
                  .modal-body
                      .postRight.postContainer.pushTransition(style = "height: 400px;")
                        .postHeader
                          - var name = "Anonymous"
                          - var avator = 0		
                          img#postPic(src = "../img/avators/"+avator+".png",width = "36px",height = "34px", style= "margin:3px;")
                          .postName
                            a= name
                          .postText
                            p= m.message
                        hr		  
                        .postOptions
                          .postComment
                            img.boxbuttons(src = "../img/comment.png",width = "36px",height = "34px", style = "float: right;")
                          .postLike
                            img.boxbuttons(src = "../img/radioactive.png",width = "36px",height = "34px")