extends auth

block auth
  .loginbox
    <br/>
    <br/>
    <br/>	
    form.form-horizontal#loginForm(action="/users/session", method="post", role="form")
      input(type='hidden', name='_csrf', value="#{csrf_token}")

      p.col-sm-offset-2.error= message

      .form-group
        label.col-sm-2.control-label(for="email", style = "color:dimgray") Email
        .col-sm-8
          input#email.form-control(type="email", placeholder="Email", name="email")

      .form-group
        label.col-sm-2.control-label(for="password", style = "color:dimgray") Password
        .col-sm-8
          input#password.form-control(type="password", placeholder="Password", name="password")

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Log in
          | &nbsp; or &nbsp;
          a.show-signup(href="/signup") Sign up
    form.form-horizontal#forgetPassForm(action="/forgetPassword", method="post", role="form")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      p.col-sm-offset-2.error= message

      .form-group
        label.col-sm-2.control-label(for="email", style = "color:dimgray") Email
        .col-sm-8
          input#email.form-control(type="email", placeholder="Email", name="email")
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') Send Password
    a#forgetPassLink( style = "position : relative; left : 80px" ) Forget Password