extends ../layouts/default

block main
 h1 Profile
 hr
 <br/>
 .login 
   .profilebox
     form.form-horizontal(action="/updateProfile", method="post", role="form", , id="attachAvator")
       input(type='hidden', name='_csrf', value="#{csrf_token}")

       .form-group
           label.col-sm-2.control-label(for='name') Nick Name
           .col-sm-7
             input#name.form-control(type='text', name="name", placeholder='Nick name', value=user.name)
       .form-group
           label.col-sm-2.control-label(for='email') Email
           .col-sm-7
             input#email.form-control(type='text', name="email", placeholder='Nick name', value=user.email)
       .form-group
           label.col-sm-2.control-label(for='phonenumber') Phone Number
           .col-sm-7
             input#phonenumber.form-control(type='text', name="phonenumber", placeholder='Phone Number', value=user.phonenumber)
       .form-group		
           label.col-sm-2.control-label(for='avator') Avator	
           .col-sm-9	  
             select(class ="image-picker show-html",name = "avator", form = "attachAvator")
               option(data-img-src="/img/avators/1.png" value="1") Avatator 1
               option(data-img-src="/img/avators/2.png" value="2") Avatator 2
               option(data-img-src="/img/avators/3.png" value="3") Avatator 3
               option(data-img-src="/img/avators/4.png" value="4") Avatator 4
               option(data-img-src="/img/avators/5.png" value="5") Avatator 5
       .form-group
           .col-sm-offset-2.col-sm-10
             button.btn.btn-primary(type='submit') Update
