extends auth

block auth
  .loginbox
    form.form-horizontal(action="/users", method="post", role="form", , id="attachAvator")
      input(type='hidden', name='_csrf', value="#{csrf_token}")

      .form-group
        label.col-sm-2.control-label(for='name') Nick name
        .col-sm-8
          input#name.form-control(type='text', name="name", placeholder='Nick name', value=user.name)

      .form-group
        label.col-sm-2.control-label(for='email') Email
        .col-sm-8
          input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

      .form-group
        label.col-sm-2.control-label(for='phonenumber') Phone Number
        .col-sm-8
          input#phonenumber.form-control(type='text',pattern = "[0-9]{10}", name="phonenumber", placeholder='Phone Number', value=user.phonenumber)

      .form-group
        label.col-sm-2.control-label(for='password') Password
        .col-sm-8
          input#password.form-control(type='password', name="password", placeholder='Password')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit') Sign up
          | &nbsp; or &nbsp;
          a.show-login(href="/login") Log in
